/* Style général du CV */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr; /* Une colonne pour le contenu principal */
    grid-template-rows: repeat(6, auto); /* 6 lignes pour chaque section */
    grid-gap: 10px; /* Espacement entre les éléments */
    grid-template-areas:
        "header"
        "info"
        "formation"
        "experience"
        "competences"
        "langues"
        "interets";
}

/* Styles pour chaque section du CV */
.header {
    grid-area: header;
    text-align: center;
}

.info {
    grid-area: info;
}

.formation {
    grid-area: formation;
}

.experience {
    grid-area: experience;
}

.competences {
    grid-area: competences;
}

.langues {
    grid-area: langues;
}

.interets {
    grid-area: interets;
}

/* Styles pour les titres */
h1, h2 {
    color: blue;
    margin-bottom: 10px;
}

/* Style pour les listes à puces */
ul {
    list-style-type: circle;
    padding: 0;
}

/* Style pour les liens cliquables */
a {
    color: inherit;
    text-decoration: none;
}

/* Style pour les liens visités */
a:visited {
    color: inherit;
}

/* Style pour les liens au survol */
a:hover {
    background: yellow;
}

/* Style pour les balises <b> dans les expériences professionnelles */
.exp-bold {
    font-weight: bold;
}

/* Style pour les paragraphes */
p {
    margin: 0;
    padding: 0;
}
